<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="../static/css/chess.css" rel="stylesheet" type="text/css">
    <title>卡坦岛</title>
    <style type="text/css">
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
    监控列表<br/>
    <div id="message">

    </div>
    <script type="text/javascript">
        var ws;
        var lockReconnect = false; // 避免重复链接
        var wsUrl = 'ws://' + document.location.host + "/Catan";

        // 创建链接
        function createWebSocket(url) {
            setMessageInnerHTML("创建WS对象--");
            try {
                ws = new WebSocket(url);
                initEventHandle();
            } catch (e) {
                setMessageInnerHTML("创建WS对象失败 --重连--")
                reconnect(url);
            }
        }
        // 关闭链接
        function closeWebSocket() {
            setMessageInnerHTML("关闭链接");
            ws.close();
        }

        function initEventHandle() {
            ws.onclose = function () {
                setMessageInnerHTML("连接关闭 --重连--");
                reconnect(wsUrl);
            };
            ws.onerror = function (error) {
                setMessageInnerHTML("链接异常 --重连--");
                setMessageInnerHTML(error);
                reconnect(wsUrl);
            };
            ws.onopen = function () {
                setMessageInnerHTML("开启链接 --心跳检测重置--");
                heartCheck.reset().start();
            };
            ws.onmessage = function (event) {
                // 如果获取到消息，心跳检测重置
                // 拿到任何消息都说明当前连接是正常的
                setMessageInnerHTML(event.data);
                heartCheck.reset().start();
            }
        }

        function setMessageInnerHTML(message) {
            document.getElementById('message').innerHTML += message +'<br/>';
        }
        function reconnect(url) {
            setMessageInnerHTML("正在重连 --");
            if (lockReconnect) return;
            lockReconnect = true;
            setTimeout(function () {
                createWebSocket(url);
                lockReconnect = false;
            }, 2000);
        }

        // 心跳检测
        var heartCheck = {
            timeout: 10000, // 6秒
            timeoutObj: null,
            reset: function () {
                setMessageInnerHTML("接收到消息 检测正常");
                clearTimeout(this.timeoutObj);
                return this;
            },
            start: function () {
                this.timeoutObj = setTimeout(function () {
                    // 这里发送一个心跳，后端收到后，返回一个心跳消息，
                    // onmessage 拿到返回的心跳说明连接正常
                    ws.send("HeartBeat");
                    setMessageInnerHTML("发送一个心跳 HeartBeat");
                }, this.timeout);
            }
        };

        createWebSocket(wsUrl);
    </script>
</body>
</html>
