<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
    <meta name=renderer content=webkit>
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
<!--    <link href="../static/css/catan.css" rel="stylesheet" type="text/css">-->
    <title>卡坦岛</title>
    <style type="text/css">
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
<a href="#" onclick="doConnect()"> 开始匹配 </a><br/>
<a href="#" onclick="clearMessageInnerHTML()"> 清空消息 </a><br/>
监控列表<br/>
<div id="message">

</div>
<script type="text/javascript">
    var ws;
    var lockReconnect = false; // 避免重复链接
    var wsUrl = 'ws://' + document.location.host + "/catan";
    wsUrl += "/access_token";
    wsUrl += "?roomId=";

    // 创建链接
    function createWebSocket(url) {
        setMessageInnerHTML("创建WS对象--");
        try {
            ws = new WebSocket(url);
            initEventHandle();
        } catch (e) {
            setMessageInnerHTML("创建WS对象失败 --重连--")
            reconnect(url);
        }
    }

    // 关闭链接
    function closeWebSocket() {
        setMessageInnerHTML("关闭链接");
        ws.close();
    }

    function initEventHandle() {
        console.log("initEventHandle");
        ws.onclose = function () {
            setMessageInnerHTML("连接关闭 --重连--");
            reconnect(wsUrl);
        };
        ws.onerror = function (error) {
            setMessageInnerHTML("链接异常 --重连--");
            setMessageInnerHTML("异常：【" + JSON.stringify(error) + "】");
            reconnect(wsUrl);
        };
        ws.onopen = function () {
            setMessageInnerHTML("开启链接");
        };
        ws.onmessage = function (event) {
            // 如果获取到消息，心跳检测重置
            // 拿到任何消息都说明当前连接是正常的
            setMessageInnerHTML(event.data);
        }
    }

    function reconnect(url) {
        setMessageInnerHTML("正在重连 --");
        if (lockReconnect) return;
        lockReconnect = true;
        setTimeout(function () {
            createWebSocket(url);
            lockReconnect = false;
        }, 2000);
    }

    function setMessageInnerHTML(message) {
        document.getElementById('message').innerHTML += message + '<br/>';
    }

    function clearMessageInnerHTML() {
        document.getElementById('message').innerHTML = '<br/>';
    }

    function doConnect() {
        var message = "开始匹配";
        document.getElementById('message').innerHTML += message + '<br/>';

        var action = {
            status: 3,
            message: "开始匹配"
        };

        ws.send(JSON.stringify(action))
    }
    createWebSocket(wsUrl);
</script>
</body>
</html>
